<strong>{{ student }}, seu pedido de auxílio foi respondido!</strong>
<p>
  <strong>Data da solicitação: </strong> {{ created_at }} <br />
  <strong>Data da Resposta: </strong> {{ answer_at }} <br />
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
</p>
